# Dependências
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json

# Ambientes
.env.local
.env.development.local
.env.test.local
.env.production.local

# Sistema
.DS_Store
Thumbs.db

# Diretórios de build
/dist
/build

# Logs
logs
*.log

# Editor
.idea/
.vscode/
*.swp
*.swo

# Cache
.cache/
.npm/
